{% load staticfiles %}
{% include 'material/includes/material_css.html' %}
{% include 'material/includes/material_js.html' %}
{% load material_form %}

<html>
	<head class="card-panel teal section light-blue">
		<title>TEGCHOS</title>
		  <nav class ¨card-panel teal¨ >
		    <div class="nav-wrapper teal light-blue">
		      <a href="#" class="brand-logo">TegChos</a>
		      <ul id="nav-mobile" class="right hide-on-med-and-down">
		        <li><a href="{% url 'solicitar' %}">Solicitudes</a></li>
		        <li><a href="{% url 'AceptarSolicitud' %}">Validar solicitud</a></li>
		        <li><a href="{% url 'inicio' %}">Techos construidos</a></li>
		      </ul>
		    </div>
		</nav>		
		<h3 class="card-panel teal light-blue">Techos construidos</h3>
	</head>

	<body>
		<div class="row">	
      {% for tc in ListaTechosConstruidos %}
      
      <div class="col s3">
			  <div class="card">
			    <div class="card-image waves-effect waves-block waves-light">
            

            <img class="responsive-img" src="{{}}">

          </div>
			    <div class="card-content">
			      <span class="card-title activator grey-text text-darken-4"><h6><a href="">{{ tc.Solicitud.NombreSolicitante }}</a></h6><i class="material-icons right">ver mas</i></span>
			      <p><strong>Fecha de construcción:</strong> {{ tc.FechaConstruccion }}</p>
			    </div>
			    <div class="card-reveal">
			      <span class="card-title grey-text text-darken-4">{{ tc.Solicitud.Colonia.Nombre }}<i class="material-icons right">cerrar</i></span>
			      	<p><strong>Colonia:</strong> {{ tc.Colonia.Nombre }}</p>
					<p><strong>Beneficiarios:</strong> {{ tc.Beneficiarios }}</p>
					<p><strong>Metros S2:</strong> {{ tc.MetroS2 }}</p>
					<p><strong>Donación de palo:</strong> {{ tc.DonacionPalo }}</p>
					<p><strong>Donación de lámina:</strong> {{ tc.DonacionLamina }}</p>
			    </div>
			  </div>
			</div>
		{% endfor %}
		</div>
	</body>

        <footer class=" teal light-blue">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="black-text">Techos dignos</h5>
                <p class="black-text text-lighten-4">Tu derecho a tenerlo y tu deber es cuidarlo</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="black-text">Equipo: </h5>
                <ul>
                  <li><a class="black-text text-lighten-3" href="#!">José</a></li>
                  <li><a class="black-text text-lighten-3" href="#!">Isaias</a></li>
                  <li><a class="black-text text-lighten-3" href="#!">Everson</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2015 Copyright - Tictanes
            <a class="black-text text-lighten-4 right" href="#!">Más información</a>
            </div>
          </div>
        </footer>

</html>